<main class="import-csv">
  <app-upload-card>
    <ng-container *ngIf="!processedSales.length">
      <app-upload-area
        [(loading)]="loading"
        [(sending)]="sending"
        [(processedSales)]="processedSales"
        [(selectedFile)]="selectedFile"
      ></app-upload-area>
      <app-format-note></app-format-note>
    </ng-container>
    <ng-container *ngIf="processedSales.length">
      <app-send-area
        [(loading)]="loading"
        [(sending)]="sending"
        [(processedSales)]="processedSales"
        [(selectedFile)]="selectedFile"
        [(processMode)]="processMode"
      ></app-send-area>
    </ng-container>
  </app-upload-card>
</main>
