<section class="sales-table" aria-label="Vendas agrupadas por produto">
	<div class="sales-table__toolbar">
		<button pButton type="button" class="sales-table__export-button" icon="pi pi-download"
			label="Exportar CSV" (click)="exportToCsv()"></button>
	</div>
	<p-table [value]="products" [lazy]="true" [paginator]="true" [first]="first" [rows]="size"
		[rowsPerPageOptions]="pageSizeOptions" [totalRecords]="totalItems" [loading]="loading"
		(onLazyLoad)="requestPage($event)" responsiveLayout="scroll">
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="produto">
					<div class="sales-table__heading">Produto <p-sortIcon field="produto"></p-sortIcon></div>
					<p-columnFilter type="text" field="produto" display="menu" matchMode="contains" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
				</th>
				<th pSortableColumn="quantidade">
					<div class="sales-table__heading">Quantidade vendida <p-sortIcon field="quantidade"></p-sortIcon></div>
					<p-columnFilter type="numeric" field="quantidade" display="menu" matchMode="equals" [maxFractionDigits]="0" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
				</th>
				<th>A&ccedil;&otilde;es</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-product>
			<tr>
				<td>{{ product.produto }}</td>
				<td>{{ product.quantidade }}</td>
				<td><button pButton type="button" class="sales-table__details-button p-button-text" icon="pi pi-eye" label="Detalhes" (click)="selectProduct(product.produto)"></button></td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr><td colspan="3">Nenhuma venda encontrada.</td></tr>
		</ng-template>
	</p-table>
</section>
