.send-area {
  margin-top: var(--space-md);
  padding-top: var(--space-md);
  border-top: 1px solid var(--surface4);
}
.send-area__heading {
  display: grid;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-sm);
  grid-template-columns: auto 1fr 1fr;
  gap: var(--space-sm);
}
.send-area__heading-title {
  margin: 0 0 var(--space-xxs);
  font-size: 1rem;
  font-weight: 650;
}
.send-area__heading-description {
  margin: 0;
  color: var(--text1);
  font-size: 0.75rem;
}
.send-area__heading-icon {
  color: var(--brand);
  font-size: 1.5rem;
}
.send-area__heading-label {
  display: block;
  margin-bottom: var(--space-xs);
  color: var(--text1);
  font-size: 0.75rem;
  font-weight: 600;
}
.send-area__heading-select {
  width: 100%;
}

.send-area__buttons-wrapper {
  margin-top: var(--space-sm);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-md);
}

.p-button-secondary {
  background-color: transparent;
  color: var(--brand);
  border-color: var(--brand);
}
