<section
  class="send-area"
  *ngIf="processedSales.length"
  aria-labelledby="send-title"
>
  <div class="send-area__heading">
    <i
      class="pi pi-cloud-upload send-area__heading-icon"
      aria-hidden="true"
    ></i>
    <div>
      <h2 class="send-area__heading-title">Enviar vendas ao backend</h2>
      <p class="send-area__heading-decription">
        {{ processedSales.length }} vendas validadas
      </p>
    </div>
    <div>
      <label class="send-area__heading-label">Estratégia de envio</label>
      <p-selectButton
        [options]="processModes"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="processMode"
        [disabled]="sending"
        styleClass="send-area__heading-select"
      ></p-selectButton>
    </div>
  </div>
  <div class="send-area__buttons-wrapper" *ngIf="!sending && !loading">
    <button
      pButton
      type="button"
      class="p-button-secondary"
      label="Voltar"
      [loading]="sending"
      (click)="goBack()"
    ></button>
    <button
      pButton
      type="button"
      class="submit-button"
      label="Enviar vendas"
      [loading]="sending"
      (click)="sendSales()"
    ></button>
  </div>
  <app-processing-state
    [loading]="loading"
    [sending]="sending"
  ></app-processing-state>
</section>
